<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Clients</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	</head>
	
		
	
		  
			<body class="d-flex flex-column min-vh-100">
	<header th:replace="fragment/header :: header"></header>
		<div class="container mt-5">
			<div class="card">
				 <div class="card-header">Liste des clients</div>
				 <div class="card-body">
					 <table class="table  text-center">   
			
	 
					<tr >
						<th>Code</th>
						<th>Type</th>
						<th>Solde</th>
						<th>Date de creation </th>
						<th>Proprietaire </th>
						<th >Taux/Decouvert </th >
						
									

					</tr>
					<tr  th:each="cpt:${sesComptes}" >
						<td th:text="${cpt.codeCompte}"></td>
						<td th:text="${cpt.class.simpleName}"></td>
						<td th:text="${cpt.solde}"></td>
						<td th:text="${cpt.dateCreation}"></td>
						<td th:text="${cpt.client.nomClient}"></td>
						
						<td  th:if="${cpt.class.simpleName=='CompteCourant'}" th:text="${cpt.decouvert}"></td>
						<td  th:if="${cpt.class.simpleName=='CompteEpargne'}" th:text="${cpt.taux}"></td>

						
					
											
						
				
					</tr>
					
				</table>
		 </div>
			</div>
		</div>
		<br/><br/>
		
		
		<div class="col-md-12 text-center">
		<a th:href="@{/clients}">	<button type="button" onclick="showDiv()" class="btn btn-danger text-center"  aria-pressed="false" autocomplete="off"  >Retour</button></a>
			
		</div>
		
		
	<br/><br/><br/><br/><br/>
	<footer th:replace="fragment/footer :: footer" ></footer> 
		        
		    
	</body>
</html>